@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors, Lists
        - Form 
        - Table
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Hero
        - Body Image
        - Col2
        - Col3
        - Form
        - Table
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screenreader	
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 16px/25px 'Source Sans Pro', sans-serif;
    color: #3F3C45;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

h1,
h2,
h3,
button,
span,
table a,
thead th {
    text-transform: uppercase;
}

h3,
p {
    margin: 0;
}

h1,
h3,
button {
    color: #fff;
}

table, 
#bg-image div {
    text-align: center;
}


/* ----- TYPOGRAPHY ----- */ 

h1 {
    font-size: 50px;
    line-height: 43px;
    font-weight: 700;
}

h1 span {
    font-size: 30px;
    font-weight: 300;
}

h2 {
    font-size: 35px;
}

h2 span {
    font-weight: 300;
}

h3 {
    padding: 50px 0 5px 0;
}

i {
    font-size: 50px;
    color: #FE8360;
}

a {
    text-decoration: none;
}

button:hover,
a {
    transition: 0.8s;
}

button:hover {
    background-color: #51CCF6;
}

button {
    display: inline-block;
    background-color: #FE8360;
    font-weight: 700;
}

/* ----- FORM ----- */

input,
select,
input[name="domain-name"]:focus,
select:focus {
    border-width: 1px;
}

form button,
input,
select,
input[name="domain-name"]:focus,
select:focus {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

input,
select {
    border-style: solid;
    font-size: 14px;
}

input[name="domain-name"]:focus,
select:focus {
    border-color: #FE8360;
    outline: 0;
}

select,
input {
    color: #3F3C4580;
}

form {
    padding: 84px 0 50px 0;
    width: 820px;
}

h2 i {
    font-size: 20px;
}

form button {
    padding: 13px 30px;
    box-shadow: none;
    border-style: hidden;
    margin-left: 15px;
}

input {
    width: 300px;
    padding: 13px;
}

select {
    width: 174px;
    padding: 11px;
    margin-left: 15px;
}

/* ----- TABLE ----- */

table b, 
th::first-letter {
    font-size: 75px;
}

table {
    border: 1px solid #E0DFE1;
    border-collapse: collapse;

}

thead th {
    font-size: 25px;
    padding-top: 25px;
    font-weight: 400;
}

td {
    padding: 11px;
}

table span {
    padding: 5px 40px;
    margin-top: 20px;
    color: #fff;
    background-color: #51CCF8;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
}

td, th {
    border-right: 1px solid #E0DFE1;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #E0DFE1;
}

tbody tr:first-child td {
    padding-top: 42px;
}
 
tbody tr:last-child td {
    padding-bottom: 25px;
}

table b {
    line-height: 85px;
}

th:first-letter {
    font-weight: 200;
}

table a {
    padding: 12px 50px;
    margin-bottom: 15px;
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 1024px;
        margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

header nav a,
header nav ul,
#bg-orange,
main a {
    background-color: #FE8360;
} 

header nav a,
#bg-image p,
main a,
footer a:hover,
footer b {
    color: #fff;
}

header nav a:hover,
main a:hover {
    background-color: #51CCF6;
}

#bg-blue,
#bg-orange {
    padding: 80px 0 25px;
}

header nav a,
header li,
tfoot a,
footer section:last-child li {
    display: inline-block;
}

main li,
header nav a,
#col-2 a,
#bg-image p,
tfoot a {
    font-weight: 700;
}

#col-2 p,
thead th {
    font-weight: 400;
}

h2 span,
.col-3 h2 {
    font-size: 18px;
}

footer ul {
    font-size: 14px;
}

#body-image,
.col-3,
footer {
    margin-top: 70px;
}


/* ----- HERO ----- */

header nav a,
#bg-image p,
#col-2 a {
    text-transform: uppercase;
}

header nav a {
    padding: 10px 18px;
}

header a {
    color: #3F3C45;
}

header p a:hover {
    color: #FE8360;
}

header p {
    padding-bottom: 5px;
}

header .row p {
    text-align: right;
}

header nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

#logo {
    padding-top: 34px;
}

header .row div:last-child {
    padding-top: 52px;
}

#bg-image span {
    font-size: 30px;
    font-weight: 300;
}

#bg-image div {
    padding-top: 273px;
}

#bg-image p {
    font-size: 50px;
    line-height: 32px;
}

#bg-image {
    background: url(../img/bg-image.jpg) right no-repeat;
    height: 433px;
}

#bg-blue {
    background-color: #51CCF8;
}

/* ----- BODY IMAGE ----- */

#body-image {
    background: url(../img/body-image.jpg) 0 0 no-repeat;
    width: 409px;
    position: relative;
}

#body-image i {
    position: absolute;
    top: -18px;
    left: -25px;
}

/* ----- COL2 ----- */

#col-2 ul {
    padding-left: 25px;
    margin: 0 0 45px
}

#col-2 a {
    padding: 13px 18px;
}

main #col-2 section {
    width: 500px;
}

/* ----- COL3 ----- */

.col-3 {
    width: 308px;
}

.col-3 i {
    margin-right: 30px;
    padding-top: 16px;
}

.col-3 h2 {
    margin-bottom: 6px;
}

/* ----- FORM ----- */

#bg-light-blue {
    background-color: #E7F5F8;
    margin-bottom: 70px; 
}

#bg-light-blue header {
    padding-top: 10px;
}

/* ----- FOOTER ----- */

footer .row {
    justify-content: flex-start;
}

footer a {
    color:#B6BCC7;
}

footer ul {
    list-style-type: none;
    padding: 0;
    font-style: normal;
    margin: 0;
}

footer {
    padding-bottom: 70px;
    background-color: #4D515C;
}

footer section {
    margin-right: 100px;
}

footer section:last-child li {
    margin-right: 22px;
}

footer b {
    font-weight: 600;
    padding-right: 8px;
}

#body-image,
#bg-image {
    -moz-background-size: cover;
    -webkit-background-size:cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}


/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- SCREENREADER ----- */

.sr-only {
        position: absolute;
          position: absolute !important;
          width: 1px !important;
          height: 1px !important;
          padding: 0 !important;
          margin: -1px !important;
          overflow: hidden !important;
          clip: rect(0,0,0,0) !important;
          white-space: nowrap !important;
          border: 0 !important;
  }